* {

margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {

background-color:rgb(217, 217, 217);

}


body {

height: 100%;
display:flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
font-family: sans-serif;

}

a {
color:white;
text-decoration: none;

}

header {
background-color: rgb(23, 127, 135);
min-height: 30px;
max-height: 40px;
width: 100%;
}

header p{

color:white;

}

ul{

margin:auto;
list-style-type: none;
display:inline-block;
margin-left: 40px;
vertical-align: middle
}

li {

margin:auto;
list-style-type: none;
display:inline-block;
margin-left: 5px;
padding-bottom: 6px;
padding-top:6px;
font-family: "Calibri";
font-size: 15px;
vertical-align: middle
}


.img-1{

background-color: white;
min-height: 200px;

}


.info img {

margin-left:20px;
max-height: 18px;
margin-top: 5px;

}

.header-2 a:hover {

text-decoration: underline;

}

.header-2 {

background-color: white;
margin:auto;
height: 105px;
width: 100%;
vertical-align: middle;
}

.header-2 ul li {

margin-top: 0px;

}

.header-2 a {

font-size: 14px;
color:gray;
text-decoration: none;
margin:auto;
margin-left: 50px;
font-family: "Arial";
vertical-align: middle;


}

.header-2 img {

max-height: 90px;
margin-top: 5px;

}

.img-1 {

margin:0px;

}

.img-1 img {

	max-height: 300px;

}

.conteudo-login {

	background-color: rgb(23, 127, 135);
	width: 100%;
	padding-bottom: 35px;

}

.form {

width: 30%;
position: relative;
height: 50px;
overflow: hidden;
margin-bottom: 5px;
}

.form input{

width: 100%;
height: 100%;
color: #595f6e;
padding-top: 20px;
padding-bottom: 20px;
outline: none;
}

.form label{

position:absolute;
bottom:0px;
left:0%;
width: 100%;
height: 100%;
pointer-events: none;
}

.form label::after{
content: "";
position:absolute;
left:0px;
bottom:-1px;
height: 100%;
width: 100%;
border-bottom: 5px solid rgb(150, 150, 150); 
transform: translateX(-100%);
transition: transform 0.6s ease;
}

.content-name {
position:absolute;
bottom:5px;
left: 0px;
transition: all 0.3s ease;

}

.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name{
transform: translateY(-150%);
font-size: 14px;
color:rgb(23, 127, 135);
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
transform:translateX(0%);



}

.form2 input:focus + .label-name .content-name, 
.form2 input:valid + .label-name .content-name{
transform: translateY(-150%);
font-size: 14px;
color:rgb(23, 127, 135);
}

.form2 input:focus + .label-name::after,
.form2 input:valid + .label-name::after{
transform:translateX(0%);



}

.form2 {

width: 30%;
position: relative;
height: 50px;
overflow: hidden;

}

.form2 input{

width: 100%;
height: 100%;
color: #595f6e;
padding-top: 20px;
border:none;
outline: none;
}

.form2 label{

position:absolute;
bottom:0px;
left:0%;
width: 100%;
height: 100%;
pointer-events: none;	
}

.form2 label::after{
content: "";
position:absolute;
left:0px;
bottom:-1px;
height: 100%;
width: 100%;
border-bottom: 5px solid rgb(150, 150, 150); 
transform: translateX(-100%);
transition: transform 0.6s ease;
}
